#social-media-icons {
    @media (min-width: 1024px) {
        position: absolute;
        right: 0;
        top: 85px;
    }
}

#estYear {
    left: 10px;
    @media (min-width: 1024px) {
        bottom: 15px;
    }
}
