@media (min-width:1024px){

    .photo-background {

        &:before, &:after {
            content:'';
            position:absolute;
            z-index:2;
            width: 0;
            height: 0;
            border-style: solid;
        }

        &:before {
            top:0;
            left:0;
            border-width: 210px 370px 0 0;
            border-color: #fff transparent transparent transparent;
        }

        &:after {
            right:0;
            bottom:0;
            border-width: 0 0 210px 370px;
            border-color: transparent transparent #fff transparent;
        }

    }

}
