.vld-overlay {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;

    .vld-icon, .vld-parent {
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
    }

    .vld-background {
        position: fixed !important;
        height:100%;
        width:100%;
    }

}