<template>
    <div :id="slug" class="mb-2 lg:mb-4 shadow">
        <div
            v-on:click="show = !show"
            class="font-medium rounded-sm text-lg px-2 py-3 flex text-gray-800 flex-row-reverse mt-2 cursor-pointer text-black bg-white hover:bg-gray-100"
        >
            <div class="flex-auto text-primary font-bold">{{ title }}</div>
            <div class="px-2 mt-1">
                <div style="">
                    <svg
                        v-show="!show"
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down w-5 h-5"
                    >
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                    <svg
                        v-show="show"
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-up w-5 h-5"
                    >
                        <polyline points="18 15 12 9 6 15"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <div
            v-show="show"
            class="p-4 lg:p-8 text-justify text-left text-gray-800 mb-5 bg-white"
        >
            <p class="text-gray-600 leading-loose">{{ description }}</p>
        </div>
    </div>
</template>

<script>
import { strToSlug } from "../helpers";
export default {
    data() {
        return {
            show: false,
            slug: strToSlug(this.title)
        };
    },
    props: ["title", "description"]
};
</script>
