<template>
    <div>
        <faq
            title="When does my credit card get charged?"
            description="We bill on the first of the month. Your card won't get charged for the first time until then, and then the first of each month until you cancel."
        />
        <faq
            title="When do the boxes get sent out?"
            description="We ship out on the fifteenth of each month."
        />
        <faq
            title="Do you curate boxes for men too?"
            description="Our subscription is (for now!) targeted towards Canadian women. We would love to curate a box for men as well!"
        />
        <faq
            title="What types of products are included in the box?"
            description="The box contains anything from candles and treats, to cleaning and self care. Basically, if a product fits the theme of the box for that month, it is made in Canada, and it fits in the box, it can be in there!"
        />
        <faq
            title="How do I cancel my subscription?"
            description="Simply log in to your account (click Login in the menu) and then click 'Your Profile' and you will be redirected to our billing provider's website, where you can easily cancel."
        />
        <faq
            title="How much does shipping cost?"
            description="Shipping is included in the price of the box."
        />
        <faq
            title="How much of the box are Canadian products?"
            description="All products are made by Canadian owned businesses!"
        />
        <faq
            title="What is your return policy?"
            description="All orders are final sale and are non-refundable. If you are not satisfied with your order, please contact us within 24 hours of arrival and we will work together to make sure you are completely satisfied."
        />
        <faq
            title="When should I cancel to avoid being charged for the next month?"
            description="If you wish to cancel your subscription, please do so by the 25th before the next billing day (1st of the next month) to avoid being charged."
        />
        <faq
            title="My question is not here."
            description="Please feel free to contact us at any time using the form on the contact page."
        />
    </div>
</template>

<script>
import faq from "./FAQ";

export default {
    components: {
        faq
    }
};
</script>
