<template>
    <nav class="bg-white shadow z-20 sticky top-0">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-16 xl:px-32">
            <div
                class="relative flex items-center justify-between h-24 lg:h-32"
            >
                <div
                    class="absolute inset-y-0 left-0 flex items-center sm:hidden"
                >
                    <!-- Mobile menu button-->
                    <button
                        v-on:click="showMenu = !showMenu"
                        class="inline-flex items-center justify-center p-2 rounded-md  hover:text-white hover:bg-gray-400 focus:outline-none focus:bg-gray-400 focus:text-white transition duration-150 ease-in-out"
                        aria-label="Main menu"
                        aria-expanded="false"
                    >
                        <!-- Icon when menu is closed. -->
                        <!-- Menu open: "hidden", Menu closed: "block" -->
                        <svg
                            class="block h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"
                            />
                        </svg>
                        <!-- Icon when menu is open. -->
                        <!-- Menu open: "block", Menu closed: "hidden" -->
                        <svg
                            class="hidden h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                    </button>
                </div>
                <div
                    class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start h-full"
                >
                    <div class="flex-shrink-0 h-full">
                        <a href="/" class="block py-2 h-full relative">
                            <img
                                class="h-full lg:h-20 lg:mt-3"
                                :src="'../assets/Dandelion-on-the-Prairie.svg'"
                                alt="Dandelion on the Prairie"
                            />
                            <p
                                class="absolute bottom-0 text-gray-500"
                                id="estYear"
                            >
                                <small>est 2020</small>
                            </p>
                        </a>
                    </div>
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex h-full items-center">
                            <a
                                :href="base"
                                class="px-4 py-2 rounded-md text-sm leading-5 focus:outline-none transition duration-150 ease-in-out text-gray-600 lg:text-lg hover:text-primary"
                                >Home</a
                            >
                            <a
                                :href="base + 'about'"
                                class="ml-4 px-4 py-2 rounded-md text-sm font-medium leading-5 text-gray-600 hover:text-primary transition duration-150 ease-in-out lg:text-lg"
                                >About</a
                            >
                            <a
                                :href="base + 'subscribe'"
                                class="ml-4 px-4 py-2 rounded-md text-sm font-medium leading-5 text-gray-600 hover:text-primary transition duration-150 ease-in-out lg:text-lg"
                                >Buy</a
                            >
                            <a
                                :href="base + 'contact'"
                                class="ml-4 px-4 py-2 rounded-md text-sm font-medium leading-5 text-gray-600 hover:text-primary transition duration-150 ease-in-out lg:text-lg"
                                >Contact</a
                            >
                            <a
                                v-show="admin"
                                :href="base + 'admin/users'"
                                class="ml-4 px-4 py-2 rounded-md text-sm font-medium leading-5 text-gray-600 hover:text-primary transition duration-150 ease-in-out lg:text-lg"
                                >Users</a
                            >
                            <a
                                v-show="admin"
                                :href="base + 'admin/entries'"
                                class="ml-4 px-4 py-2 rounded-md text-sm font-medium leading-5 text-gray-600 hover:text-primary transition duration-150 ease-in-out lg:text-lg"
                                >Entries</a
                            >
                            <a
                                v-show="admin"
                                :href="base + 'admin/orders'"
                                class="ml-4 px-4 py-2 rounded-md text-sm font-medium leading-5 text-gray-600 hover:text-primary transition duration-150 ease-in-out lg:text-lg"
                                >Orders</a
                            >
                        </div>
                    </div>
                </div>
                <div class="hidden lg:flex" id="social-media-icons">
                    <social-media
                        :imageSrc="'../assets/facebook.svg'"
                        :alt="'Facebook'"
                        :url="'https://www.facebook.com/dandelionontheprairie'"
                    ></social-media>
                    <social-media
                        :imageSrc="'../assets/instagram.svg'"
                        :alt="'Instagram'"
                        :url="'https://instagram.com/dandelionontheprairie'"
                    ></social-media>
                </div>
                <div
                    class="hidden lg:block absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
                >
                    <div v-if="user">
                        <a
                            :href="profile"
                            class="text-gray-600 px-3 py-2 rounded-md text-sm font-medium leading-5 focus:outline-none focus:text-white focus:bg-gray-700 hover:bg-gray-700 hover:text-white transition duration-150 ease-in-out"
                            >Your Profile</a
                        >
                        <a
                            v-on:click="doLogout"
                            :href="logout"
                            class="text-gray-600 px-3 py-2 rounded-md text-sm font-medium leading-5  focus:outline-none focus:text-white hover:bg-gray-700 hover:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                            >Logout</a
                        >
                    </div>
                    <div v-else>
                        <a
                            :href="login"
                            class="text-gray-600 px-3 py-2 rounded-md text-sm font-medium leading-5 focus:outline-none focus:text-white focus:bg-gray-700 hover:bg-gray-700 hover:text-white  transition duration-150 ease-in-out "
                            >Login</a
                        >
                    </div>
                </div>
            </div>
        </div>

        <!--
          Mobile menu, toggle classes based on menu state.

          Menu open: "block", Menu closed: "hidden"
        -->
        <div v-show="showMenu" class="lg:hidden">
            <div class="px-2 pt-2 pb-3 lg:flex">
                <a
                    :href="base"
                    class="block px-3 py-2 rounded-md text-base text-gray-600 hover:text-white hover:bg-gray-500 font-medium focus:outline-none focus:text-white focus:bg-gray-400 transition duration-150 ease-in-out"
                    >Home</a
                >
                <a
                    :href="base + 'about'"
                    class="mt-1 block px-3 py-2 text-gray-600 rounded-md text-base font-medium  hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-500 transition duration-150 ease-in-out"
                    >About</a
                >
                <a
                    :href="base + 'subscribe'"
                    class="mt-1 block px-3 py-2 text-gray-600 rounded-md text-base font-medium  hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                    >Buy</a
                >
                <a
                    :href="base + 'contact'"
                    class="mt-1 block px-3 py-2 text-gray-600 rounded-md text-base font-medium  hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                    >Contact</a
                >
                <a
                    v-show="admin"
                    :href="base + 'admin/users'"
                    class="mt-1 block px-3 py-2 text-gray-600 rounded-md text-base font-medium  hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                    >Users</a
                >
                <a
                    v-show="admin"
                    :href="base + 'admin/entries'"
                    class="mt-1 block px-3 py-2 text-gray-600 rounded-md text-base font-medium  hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                    >Entries</a
                >
                <a
                    v-show="admin"
                    :href="base + 'admin/floret'"
                    class="mt-1 block px-3 py-2 text-gray-600 rounded-md text-base font-medium  hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                    >Floret Boxes</a
                >
                <a
                    v-show="admin"
                    :href="base + 'admin/orders'"
                    class="mt-1 block px-3 py-2 text-gray-600 rounded-md text-base font-medium  hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                    >Orders</a
                >
                <div class="border-b-2 border-gray-300 mx-3 mt-2"></div>
                <div v-if="user">
                    <a
                        :href="profile"
                        class="mt-1 block px-3 py-2 rounded-md text-gray-600 text-base font-medium  hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                        >Profile</a
                    >
                    <a
                        v-on:click="doLogout"
                        :href="logout"
                        class="mt-1 block px-3 text-gray-600 py-2 rounded-md text-base font-medium  hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                        >Logout</a
                    >
                </div>
                <div v-else>
                    <a
                        :href="login"
                        class="mt-1 block px-3 py-2 rounded-md text-base text-gray-600 font-medium  hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out"
                        >Login</a
                    >
                </div>
                <div class="border-b-2 border-gray-300 mx-3 mt-2"></div>
                <div class="flex mt-4">
                    <social-media
                        :imageSrc="'../assets/facebook.svg'"
                        :alt="'Facebook'"
                        :url="'https://www.facebook.com/dandelionontheprairie'"
                    ></social-media>
                    <social-media
                        :imageSrc="'../assets/instagram.svg'"
                        :alt="'Instagram'"
                        :url="'https://instagram.com/dandelionontheprairie'"
                    ></social-media>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import menuitems from "./Menu";

export default {
    props: [
        "user",
        "login",
        "register",
        "profile",
        "logout",
        "redirect",
        "base",
        "admin"
    ],
    components: {
        menuitems
    },
    methods: {
        doLogout: function(e) {
            e.preventDefault();
            axios.post(this.logout, {}).then(function(response) {
                window.location.href = "/";
            });
        }
    },
    data() {
        return {
            showMenu: false,
            showProfileDropdown: false
        };
    }
};
</script>
