<template>
    <div class="px-2 pt-2 pb-3 lg:flex">
        <a :href="base_url" class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-400 transition duration-150 ease-in-out">Home</a>
        <a :href="base_url + 'about'" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-500 transition duration-150 ease-in-out">About</a>
        <a :href="base_url + 'subscribe'" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Subscribe</a>
        <a :href="base_url + 'contact'" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Contact</a>
        <div class="border-b-2 border-gray-300 mx-3 mt-2"></div>
        <div v-if="user">
            <a :href="base_url + 'contact'" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Profile</a>
            <a :href="base_url + 'contact'" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Logout</a>
        </div>
        <div v-else>
            <a :href="base_url + 'login'" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Login</a>
            <a :href="base_url + 'register'" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-white hover:bg-gray-500 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Register</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'user',
        ],
        data() {
            return {
                base_url: 'https://dandelionontheprairie.ca/'
            }
        }
    }
</script>
