<template>
    <a target="_blank" :href="url" class="inline-block h-6 w-6 ml-4 mr-4 opacity-50 hover:opacity-100">
        <img :src="imageSrc" :alt="alt" />
    </a>
</template>

<script>
    export default {
        props: [
            'imageSrc',
            'alt',
            'url',
        ],
    }
</script>
