<template>
    <div class="md:flex">
        <div class="lg:w-1/2">
            <div class="lg:px-4">
                <div
                    class="rounded overflow-hidden shadow bg-white mb-24 lg:mb-10"
                    ref="step1"
                >
                    <div class="px-6 py-4">
                        <h4 class="font-bold mb-4">1. Email Address</h4>
                        <input
                            v-model="email"
                            type="email"
                            placeholder="Email"
                            class="mb-2 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            :class="validate_email"
                            name="email"
                            ref="email"
                        />
                        <p
                            v-show="validate_email_msg"
                            class="text-red-600 mb-3"
                        >
                            Please enter a valid email address.
                        </p>
                        <p class="text-gray-600 mb-3">
                            <small
                                >You'll receive receipts and notifications at
                                this email address.</small
                            >
                        </p>
                        <button
                            v-on:click="toggleStep2"
                            class="inline-block font-bold px-5 py-2 rounded transition-all duration-200 ease-in-out text-white bg-primary hover:bg-secondary"
                        >
                            Continue
                        </button>
                    </div>
                </div>
                <div
                    v-show="showStep2"
                    class="rounded overflow-hidden shadow bg-white mb-24 lg:mb-10"
                    ref="step2"
                    id="step2"
                >
                    <div class="px-6 py-4">
                        <h4 class="font-bold mb-4">2. Shipping Address</h4>
                        <div v-show="showStep2">
                            <div class="md:flex">
                                <input
                                    v-model="fname"
                                    name="firstname"
                                    placeholder="First name*"
                                    class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2"
                                    :class="v_fname"
                                />
                                <input
                                    v-model="lname"
                                    name="lastname"
                                    placeholder="Last name*"
                                    class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    :class="v_lname"
                                />
                            </div>
                            <div class="">
                                <input
                                    v-model="address"
                                    name="address1"
                                    placeholder="Address 1*"
                                    class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    :class="v_address"
                                />
                            </div>
                            <div class="">
                                <input
                                    v-model="address2"
                                    name="address2"
                                    placeholder="Address 2"
                                    class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                />
                            </div>
                            <div class="lg:flex">
                                <input
                                    v-model="postal"
                                    name="postal_code"
                                    placeholder="Postal Code*"
                                    class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline lg:mr-2"
                                    :class="v_postal"
                                />
                                <input
                                    v-model="city"
                                    name="city"
                                    placeholder="City*"
                                    class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline lg:mr-2"
                                    :class="v_city"
                                />
                                <select
                                    v-model="province"
                                    name="province"
                                    class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline lg:w-1/4"
                                    :class="v_province"
                                >
                                    <option selected="selected">AB</option>
                                    <option>BC</option>
                                    <option>MB</option>
                                    <option>NB</option>
                                    <option>NL</option>
                                    <option>NT</option>
                                    <option>NS</option>
                                    <option>NU</option>
                                    <option>ON</option>
                                    <option>PE</option>
                                    <option>QC</option>
                                    <option>SK</option>
                                    <option>YT</option>
                                </select>
                            </div>
                            <div class="">
                                <input
                                    type="text"
                                    name="country"
                                    value="Canada"
                                    readonly="true"
                                    class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                />
                            </div>
                            <div>
                                <input
                                    v-model="phone"
                                    type="tel"
                                    name="phone"
                                    placeholder="Phone number*"
                                    class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    :class="v_city"
                                />
                            </div>
                            <div class="flex items-start mb-4">
                                <div class="flex items-center h-5">
                                    <input
                                        v-model="is_local"
                                        id="is_local"
                                        type="checkbox"
                                        class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
                                    />
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                    <label
                                        for="is_local"
                                        class="font-medium text-gray-700"
                                        >Local</label
                                    >
                                    <p class="text-gray-500">
                                        Check this box if you are local to
                                        Silver Valley, and can arrange to pick
                                        up/drop off.
                                    </p>
                                </div>
                            </div>
                            <p v-show="address_msg" class="text-red-600 mb-3">
                                Please fill in the required fields.
                            </p>
                            <button
                                v-on:click="toggleStep3"
                                class="inline-block font-bold px-5 py-2 rounded transition-all duration-200 ease-in-out text-white bg-primary hover:bg-secondary"
                            >
                                Continue
                            </button>
                        </div>
                    </div>
                </div>
                <div
                    v-show="showStep3"
                    class="rounded overflow-hidden shadow bg-white mb-24 lg:mb-10"
                    ref="step3"
                    id="step3"
                >
                    <div class="px-6 py-4">
                        <h4 class="font-bold mb-4">3. Payment Details</h4>
                        <p v-show="stripe_error" class="text-red-600 mb-3">
                            {{ stripe_error_text }}
                        </p>
                        <div class="">
                            <input
                                v-model="cardholderName"
                                name="cardholder_name"
                                placeholder="Cardholder Name*"
                                class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                :class="v_cardholderName"
                            />
                            <p
                                v-show="cardholderNameError"
                                class="text-red-600 mb-3"
                            >
                                Please enter a cardholder name.
                            </p>
                        </div>
                        <div ref="card" class="mb-3 p-3 bg-gray-200"></div>
                        <p class="text-gray-600 mb-3">
                            <small
                                >Transactions are secure and encrypted. Payment
                                information will be saved.</small
                            >
                        </p>
                        <p class="text-black mb-3">
                            <small
                                ><strong
                                    >Please enter Postal Code in following
                                    format: </strong
                                ><code class="bg-gray-200 px-1 py-1"
                                    >T8W2X9</code
                                ></small
                            >
                        </p>
                        <button
                            v-on:click.once="toggleStep4"
                            class="inline-block font-bold px-5 py-2 rounded transition-all duration-200 ease-in-out text-white bg-primary hover:bg-secondary"
                        >
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:w-1/2">
            <div class="lg:sticky" style="top:90px">
                <div class="lg:px-4">
                    <div
                        class="rounded overflow-hidden shadow bg-white mb-6 lg:mb-10"
                    >
                        <div class="px-6 py-4">
                            <h4 class="font-bold mb-4">4. Summary</h4>
                            <div class="md:flex">
                                <div class="mb-3 md:mb-0 md:w-1/3">
                                    <img
                                        :src="
                                            '../assets/dandelion-on-the-prairie-box.jpg'
                                        "
                                        alt="Canadian Subscription box"
                                    />
                                </div>
                                <div class="md:w-2/3 md:pl-3">
                                    <h3>
                                        Dandelion on the Prairie Subscription
                                        Box
                                    </h3>
                                    <p>Every month</p>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="flex justify-between">
                                    <p class="text-gray-700">Subtotal</p>
                                    <p>${{ subtotal }}</p>
                                </div>
                                <div class="flex justify-between">
                                    <p class="text-gray-700">GST</p>
                                    <p>$2.50</p>
                                </div>
                                <div class="mt-5 flex justify-between">
                                    <p>Total</p>
                                    <p>
                                        ${{
                                            Math.round((subtotal + 2.5) * 100) /
                                                100
                                        }}
                                    </p>
                                </div>
                            </div>
                            <div class="mt-5">
                                <button
                                    v-show="showStep4"
                                    v-on:click="sendPaymentToAPI"
                                    class="inline-block font-bold px-5 py-2 rounded transition-all duration-200 ease-in-out text-white bg-primary hover:bg-secondary"
                                >
                                    Purchase Subscription
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Swal from "sweetalert2";
import Vue from "vue";
// Import component
import Loading from "vue-loading-overlay";
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
// Init plugin
Vue.use(Loading);

let stripe, card, step2, step3;
export default {
    data() {
        return {
            error: "border-red-600",
            success: "border-green-600",

            // Email
            email: this.userEmail ? this.userEmail : this.urlParam("email"),
            validate_email: "",
            validate_email_msg: false,

            // Address
            address_msg: false,
            fname: "",
            v_fname: "",
            lname: "",
            v_lname: "",
            address: "",
            address2: "",
            v_address: "",
            postal: "",
            v_postal: "",
            city: "",
            v_city: "",
            phone: "",
            v_phone: "",
            province: "AB",
            v_province: "",
            is_local: false,

            // Stripe stuff
            cardholderName: "",
            v_cardholderName: "",
            cardholderNameError: false,
            stripe_error: false,
            stripe_error_text: "",
            payment_method: "",

            // Show the steps
            showStep3: false,
            showStep2: false,
            showStep4: false,

            // Money stuff
            subtotal: 49.99
        };
    },
    props: ["stripeSecret", "stripeKey", "userEmail"],
    methods: {
        urlParam: function(param) {
            const params = new URLSearchParams(window.location.search);
            if (params.has(param)) {
                return params.get(param);
            }
            return null;
        },
        scrollToStep: function(step) {
            this.$nextTick(function() {
                step.scrollIntoView();
                // subtract the header
                window.scroll(0, document.documentElement.scrollTop - 70);
            });
        },
        validateEmail: function(email) {
            const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        },
        toggleStep2: function() {
            if (!this.validateEmail(this.email)) {
                this.showStep2 = false;
                this.validate_email = this.error;
                this.validate_email_msg = true;
                return;
            }

            if (this.userEmail || this.urlParam("email")) {
                this.email = this.userEmail
                    ? this.userEmail
                    : this.urlParam("email");
                this.showStep2 = true;
                this.validate_email = this.success;
                this.validate_email_msg = false;
                this.scrollToStep(step2);
            } else {
                // Check database to see if customer already exists
                let loader = this.$loading.show({
                    // Optional parameters
                    isFullPage: true,
                    canCancel: false
                });
                axios
                    .post("/api/users/get", {
                        email: this.email
                    })
                    .then(response => {
                        loader.hide();
                        let data = response.data;
                        console.log(data);
                        if (data.exists) {
                            Swal.fire({
                                title: "Log in to continue.",
                                text: data.message
                            }).then(result => {
                                window.location.href =
                                    "/login?email=" +
                                    this.email +
                                    "&redirect=" +
                                    window.location.pathname +
                                    "&message=Please login. You will be redirected back to payment after.";
                            });
                        } else {
                            Swal.fire({
                                title: "Register and make an account.",
                                text: data.message
                            }).then(result => {
                                window.location.href =
                                    "/register?email=" +
                                    this.email +
                                    "&redirect=" +
                                    window.location.pathname +
                                    "&message=Please register. You will be redirected back to payment after.";
                            });
                        }
                    });
            }
        },
        toggleStep3: function() {
            let valid = false;

            if (!this.fname) {
                this.address_msg = true;
                this.v_fname = this.error;
            } else {
                this.address_msg = false;
                this.v_fname = this.success;
                valid = true;
            }

            if (!this.lname) {
                this.address_msg = true;
                this.v_lname = this.error;
            } else {
                this.address_msg = false;
                this.v_lname = this.success;
                valid = true;
            }

            if (!this.address) {
                this.address_msg = true;
                this.v_address = this.error;
            } else {
                this.address_msg = false;
                this.v_address = this.success;
                valid = true;
            }

            if (!this.postal) {
                this.address_msg = true;
                this.v_postal = this.error;
            } else {
                this.address_msg = false;
                this.v_postal = this.success;
                valid = true;
            }

            if (!this.city) {
                this.address_msg = true;
                this.v_city = this.error;
            } else {
                this.address_msg = false;
                this.v_city = this.success;
                valid = true;
            }

            if (!this.province) {
                this.address_msg = true;
                this.v_province = this.error;
            } else {
                this.address_msg = false;
                this.v_province = this.success;
                valid = true;
            }

            if (!this.phone) {
                this.address_msg = true;
                this.v_phone = this.error;
            } else {
                this.address_msg = false;
                this.v_phone = this.success;
                valid = true;
            }

            if (valid) {
                this.showStep3 = true;
                this.scrollToStep(step3);
            } else {
                this.showStep3 = false;
            }
        },
        toggleStep4: async function(button) {
            // Check and ensure we have a cardholder name
            if (!this.cardholderName) {
                this.v_cardholderName = this.error;
                this.cardholderNameError = true;
                return;
            } else {
                this.v_cardholderName = this.success;
                this.cardholderNameError = false;
            }
            // Stripe time, baby
            let loader = this.$loading.show({
                // Optional parameters
                isFullPage: true,
                canCancel: false
            });

            const { setupIntent, error } = await stripe.confirmCardSetup(
                this.stripeSecret,
                {
                    payment_method: {
                        card: card,
                        billing_details: {
                            name: this.cardholderName
                        }
                    }
                }
            );

            if (error) {
                loader.hide();
                // Display "error.message" to the user...
                this.stripe_error = true;
                this.stripe_error_text = error.message;
                this.showStep4 = false;
            } else {
                loader.hide();
                // The card has been verified successfully...
                this.stripe_error = false;
                this.showStep4 = true;
                this.payment_method = setupIntent.payment_method;
                window.scrollTo(
                    0,
                    document.body.scrollHeight ||
                        document.documentElement.scrollHeight
                );
            }
        },
        sendPaymentToAPI: function() {
            let loader = this.$loading.show({
                // Optional parameters
                isFullPage: true,
                canCancel: false
            });

            axios
                .post("/api/create_subscription", {
                    paymentMethod: this.payment_method,
                    address: this.address,
                    address2: this.address2,
                    country: this.country,
                    postal_code: this.postal,
                    city: this.city,
                    province: this.province,
                    phone: this.phone,
                    is_local: this.is_local
                })
                .then(response => {
                    window.location.href = response.data.redirect;
                })
                .catch(error => {
                    loader.hide();
                    Swal.fire({
                        title: "Error.",
                        text: error.message
                    });
                });
        }
    },
    mounted: function() {
        step2 = document.getElementById("step2");
        step3 = document.getElementById("step3");
        stripe = Stripe(this.stripeKey);
        let elements = stripe.elements();
        card = elements.create("card");

        let style = {
            base: {
                color: "#32325d",
                fontFamily: '"Montserrat", Helvetica, sans-serif',
                fontSmoothing: "antialiased",
                fontSize: "16px",
                "::placeholder": {
                    color: "#aab7c4"
                }
            },
            invalid: {
                color: "#fa755a",
                iconColor: "#fa755a"
            }
        };

        card.mount(this.$refs.card, { style: style });
    }
};
</script>
