<template>
    <div>
        <div v-show="!submitted">
            <select
                v-on:change="toggleOther()"
                v-model="answer"
                class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            >
                <option selected="selected">Facebook</option>
                <option>Instagram</option>
                <option>Google search</option>
                <option>Word of mouth</option>
                <option>Radio station</option>
                <option>Shop Local GP</option>
                <option>Q99</option>
                <option>Better Be Local</option>
                <option>Saddlehills County</option>
                <option>Other</option>
            </select>
            <div v-show="showOther">
                <input
                    v-model="other"
                    class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text"
                    placeholder="How did you hear about us?"
                />
            </div>

            <button
                v-on:click="handleSubmit()"
                class="inline-block font-bold px-5 py-2 rounded transition-all duration-200 ease-in-out text-white bg-primary hover:bg-secondary"
            >
                Submit
            </button>
        </div>
        <div
            v-show="submitted"
            class="border px-4 py-3 rounded relative bg-blue-100 border-blue-400 text-blue-700"
        >
            {{ message }}
        </div>
    </div>
</template>

<script>
import Vue from "vue";
// Import component
import Loading from "vue-loading-overlay";
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
// Init plugin
Vue.use(Loading);
export default {
    data() {
        return {
            answer: "Facebook",
            showOther: false,
            other: "",
            submitted: false,
            message: ""
        };
    },
    methods: {
        toggleOther: function() {
            if (this.answer === "Other") {
                this.showOther = true;
            } else {
                this.showOther = false;
                this.other = "";
            }
        },
        handleSubmit: async function() {
            let loader = this.$loading.show();
            try {
                const response = await axios.post("/api/survey", {
                    answer: this.answer,
                    other: this.other
                });
                this.message = response.data.message;
                this.submitted = true;
            } catch (error) {
                console.log(error);
                this.submitted = true;
                this.message = error;
            }

            loader.hide();
        }
    }
};
</script>
