<template>
    <button class="inline-block font-bold px-5 py-3 rounded mb-8 transition-all duration-200 ease-in-out bg-primary hover:bg-secondary text-white">
        Show Only Subscribed Users
    </button>
</template>

<script>
    export default {
        mounted(){
            let users = document.getElementsByClassName('subscribed');
            console.table(users);
        }
    }
</script>